body {
    background-color: #f9f1f1;
}

.nav-wrapper li {
    margin: 0 4px;
}

.logo {
    margin: 0 10px;
}

#notes li {
    min-height: 60px;
}

#splash-img {
    width: 100%;
    z-index: -1;
}

.image-container {
    position: relative;
}

.title {
    z-index: 0;
    position:absolute;
    top: 30%;
    left: calc(40% - 10px);
    text-shadow:
    3px 3px 0 #b2dfdb,
  -1px -1px 0 #b2dfdb,  
   1px -1px 0 #b2dfdb,
   -1px 1px 0 #b2dfdb,
    1px 1px 0 #b2dfdb;
}

.card-image{
    width: 100%;
    height: 185px; /* Your height here */
    display:block;
    overflow: hidden;
}

.card-content {
    height: 200px;
    overflow: auto;
}

@media screen and (max-width: 631px) {
    .image-container {
        visibility: hidden;
    }
    /* li button {
        width: 300px;
        overflow: auto;
    } */
    .title {
        margin-top: 80px;
        left: 140%;
        visibility: visible;
        position: relative;
        color:black;
    }
}